@import '../../styles.less';

header {

    background-color: #0000005b;
    position: absolute;
    width: 100%;
   
    h1 {
        padding: 1rem;
        margin: 0;
        margin-left: 1rem;
        font-size: 2rem;
        text-align: center;
        text-transform: uppercase;
        font-family: 'Lacquer', sans-serif;
        position: relative;
        color: @white;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #313131;
        height: 80px;

        li {
            float: right;
            height: 100%;

        }
          
        li a {
            display: block;
            color: white;
            text-align: center;
            // padding: 14px 18px;
            padding: 1.8rem;
            height: 100%;

            text-decoration: none;
        }
    
        li a:hover {
            background-color: #303;
        }

      }
      
    
}