<div *ngIf="false == true">
  <!-- Upper line just hides it from the view so you can see how to use these 
  put true == true to see em -->
  <i class="user fa-xs"></i>
  <i class="twitter fa-sm"></i>
  <i class="discord fa-lg"></i>
  <i class="angular fa-2x"></i>
  <i class="book-dead fa-5x"></i>
</div>


<section class="main-section">
  <div class="text-part">
    <h2 class="main-text-1">Can't be cool if you aren't in</h2>
    <h3 class="trulz-text">Trulz</h3>
    <p class="additional-info">Trulz Inc. The one and only. A company of people of young age and weird thoughts.
    </p>
  </div>
  <div class="discord-feed">
    <iframe src="https://discordapp.com/widget?id=200275538479284226&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0"></iframe>  </div>
  
</section>

 